@model LayoutTry.Models.TicketRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TicketRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketCategoryId" class="control-label"></label>
                <input asp-for="TicketCategoryId" class="form-control" />
                <span asp-validation-for="TicketCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <select asp-for="EventId" class ="form-control" asp-items="ViewBag.EventId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShowId" class="control-label"></label>
                <select asp-for="ShowId" class ="form-control" asp-items="ViewBag.ShowId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TicketId" class="control-label"></label>
                <select asp-for="TicketId" class ="form-control" asp-items="ViewBag.TicketId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SectionId" class="control-label"></label>
                <select asp-for="SectionId" class ="form-control" asp-items="ViewBag.SectionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeatRangeS" class="control-label"></label>
                <input asp-for="SeatRangeS" class="form-control" />
                <span asp-validation-for="SeatRangeS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatRangeE" class="control-label"></label>
                <input asp-for="SeatRangeE" class="form-control" />
                <span asp-validation-for="SeatRangeE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestPrice" class="control-label"></label>
                <input asp-for="RequestPrice" class="form-control" />
                <span asp-validation-for="RequestPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
